.button {
  height: 37px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  font-size: 19px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.button:hover {
  border-radius: 10px;
}

.button-operator {
  width: 70px;
}
.button-operator-default {
  background-color: lightgray;
  border-color: lightgray;
}
.button-operator-default:hover {
  background-color: #b8b8b8;
  border-color: #b8b8b8;
}
.button-operator-dark {
  background-color: rgb(83, 83, 83);
  border-color: rgb(105, 105, 105);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-operator-dark:hover {
  background-color: rgb(105, 105, 105);
  border-color: rgb(105, 105, 105);
}
.button-operator-warm {
  background-color: cornsilk;
  border-color: rgb(226, 217, 180);
  color: black;
  border-width: 2px;
}
.button-operator-warm:hover {
  background-color: rgb(226, 220, 193);
  border-color: rgb(226, 220, 193);
}
.button-operator-cool {
  background-color: rgb(83, 83, 83);
  border-color: rgb(105, 105, 105);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-operator-cool:hover {
  background-color: rgb(105, 105, 105);
  border-color: rgb(105, 105, 105);
}

.button-left-side {
  margin-left: 20.5px;
  width: 70px;
}
.button-left-side-default {
  background-color: lightgray;
  border-color: lightgray;
}
.button-left-side-default:hover {
  background-color: #b8b8b8;
  border-color: #b8b8b8;
}
.button-left-side-dark {
  background-color: rgb(83, 83, 83);
  border-color: rgb(105, 105, 105);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-left-side-dark:hover {
  background-color: rgb(105, 105, 105);
  border-color: rgb(105, 105, 105);
}
.button-left-side-warm {
  background-color: cornsilk;
  border-color: rgb(226, 217, 180);
  color: black;
  border-width: 2px;
}
.button-left-side-warm:hover {
  background-color: rgb(226, 220, 193);
  border-color: rgb(226, 220, 193);
}
.button-left-side-cool {
  background-color: rgb(83, 83, 83);
  border-color: rgb(105, 105, 105);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-left-side-cool:hover {
  background-color: rgb(105, 105, 105);
  border-color: rgb(105, 105, 105);
}

.button-up-down {
  width: 144px;
  margin-left: 20.5px;
}
.button-up-down-default {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
}
.button-up-down-default:hover {
  background-color: rgb(103, 158, 209);
  border-color: rgb(103, 158, 209);
}
.button-up-down-dark {
  background-color: rgb(54, 105, 153);
  border-color: rgb(70, 121, 168);
  border-width: 3px;
  color: rgb(223, 223, 223);
}
.button-up-down-dark:hover {
  background-color: rgb(70, 121, 168);
  border-color: rgb(70, 121, 168);
}
.button-up-down-warm {
  background-color: rgb(184, 145, 95);
  border-color: rgb(184, 145, 95);
  color: black;
}
.button-up-down-warm:hover {
  background-color: rgb(145, 107, 59);
  border-color: rgb(145, 107, 59);
}
.button-up-down-cool {
  background-color: rgb(54, 105, 153);
  border-color: rgb(70, 121, 168);
  border-width: 3px;
  color: rgb(223, 223, 223);
}
.button-up-down-cool:hover {
  background-color: rgb(70, 121, 168);
  border-color: rgb(70, 121, 168);
}

.button-left {
  width: 70px;
  margin-left: 20.5px;
}
.button-left-default {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
}
.button-left-default:hover {
  background-color: rgb(103, 158, 209);
  border-color: rgb(70, 121, 168);
}
.button-left-dark {
  background-color: rgb(54, 105, 153);
  border-color: rgb(54, 105, 153);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-left-dark:hover {
  background-color: rgb(70, 121, 168);
  border-color: rgb(70, 121, 168);
}
.button-left-warm {
  background-color: rgb(184, 145, 95);
  border-color: rgb(184, 145, 95);
  color: black;
}
.button-left-warm:hover {
  background-color: rgb(145, 107, 59);
  border-color: rgb(145, 107, 59);
}
.button-left-cool {
  background-color: rgb(54, 105, 153);
  border-color: rgb(54, 105, 153);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-left-cool:hover {
  background-color: rgb(70, 121, 168);
  border-color: rgb(70, 121, 168);
}

.button-right {
  width: 70px;
}
.button-right-default {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
  width: 70px;
}
.button-right-default:hover {
  background-color: rgb(103, 158, 209);
  border-color: rgb(103, 158, 209);
}
.button-right-dark {
  background-color: rgb(54, 105, 153);
  border-color: rgb(70, 121, 168);
  width: 70px;
  border-width: 3px;
  color: rgb(223, 223, 223);
}
.button-right-dark:hover {
  background-color: rgb(70, 121, 168);
  border-color: rgb(70, 121, 168);
}
.button-right-warm {
  background-color: rgb(184, 145, 95);
  border-color: rgb(184, 145, 95);
  color: black;
}
.button-right-warm:hover {
  background-color: rgb(145, 107, 59);
  border-color: rgb(145, 107, 59);
}
.button-right-cool {
  background-color: rgb(54, 105, 153);
  border-color: rgb(70, 121, 168);
  width: 70px;
  border-width: 3px;
  color: rgb(223, 223, 223);
}
.button-right-cool:hover {
  background-color: rgb(70, 121, 168);
  border-color: rgb(70, 121, 168);
}

.button-equals {
  width: 70px;
}
.button-equals-default {
  background-color: lightgreen;
  border-color: lightgreen;
}
.button-equals-default:hover {
  background-color: rgb(86, 216, 86);
  border-color: rgb(86, 216, 86);
}
.button-equals-dark {
  background-color: rgb(48, 95, 48);
  border-color: rgb(57, 116, 57);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-equals-dark:hover {
  background-color: rgb(57, 116, 57);
  border-color: rgb(57, 116, 57);
}
.button-equals-warm {
  background-color: gold;
  border-color: gold;
  color: black;
  border-width: 3px;
}
.button-equals-warm:hover {
  background-color: rgb(231, 193, 22);
  border-color: rgb(231, 193, 22);
}
.button-equals-cool {
  background-color: rgb(48, 95, 48);
  border-color: rgb(57, 116, 57);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-equals-cool:hover {
  background-color: rgb(57, 116, 57);
  border-color: rgb(57, 116, 57);
}

.button-delete {
  width: 70px;
  font-size: 18px;
}
.button-delete-default {
  background-color: lightcoral;
  border-color: lightcoral;
}
.button-delete-default:hover {
  background-color: rgb(231, 93, 93);
  border-color: rgb(231, 93, 93);
}
.button-delete-dark {
  background-color: rgb(139, 65, 65);
  border-color: rgb(163, 82, 82);
  color: rgb(223, 223, 223);
  border-width: 3px
}
.button-delete-dark:hover {
  background-color: rgb(163, 82, 82);
  border-color: rgb(163, 82, 82);
}
.button-delete-warm {
  background-color: indianred;
  border-color: indianred;
  color: black;
}
.button-delete-warm:hover {
  background-color: rgb(175, 62, 62);
  border-color: rgb(175, 62, 62);
}
.button-delete-cool {
  background-color: rgb(139, 65, 65);
  border-color: rgb(163, 82, 82);
  color: rgb(223, 223, 223);
  border-width: 3px
}
.button-delete-cool:hover {
  background-color: rgb(163, 82, 82);
  border-color: rgb(163, 82, 82);
}

.button-ac {
  width: 70px;
  margin-right: 13.5px;
}
.button-ac-default {
  background-color: lightcoral;
  border-color: lightcoral;
}
.button-ac-default:hover {
  background-color: rgb(231, 93, 93);
  border-color: rgb(231, 93, 93);
}
.button-ac-dark {
  background-color: rgb(139, 65, 65);
  border-color: rgb(163, 82, 82);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-ac-dark:hover {
  background-color: rgb(163, 82, 82);
  border-color: rgb(163, 82, 82);
}
.button-ac-warm {
  background-color: indianred;
  border-color: indianred;
  color: black;
}
.button-ac-warm:hover {
  background-color: rgb(175, 62, 62);
  border-color: rgb(175, 62, 62);
}
.button-ac-cool {
  background-color: rgb(139, 65, 65);
  border-color: rgb(163, 82, 82);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-ac-cool:hover {
  background-color: rgb(163, 82, 82);
  border-color: rgb(163, 82, 82);
}

.button-number {
  width: 70px;
}
.button-number-default {
  background-color: rgb(138, 138, 138);
  border-color: rgb(138, 138, 138);
}
.button-number-default:hover {
  background-color: #999898;
  border-color: #999898;
}
.button-number-dark {
  background-color: rgb(44, 44, 44);
  border-color: rgb(68, 68, 68);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-number-dark:hover {
  background-color: rgb(68, 68, 68);
  border-color: rgb(68, 68, 68);
}
.button-number-warm {
  background-color: saddlebrown;
  border-color: saddlebrown;
  color: black;
  border-width: 3px;
}
.button-number-warm:hover {
  background-color: rgb(110, 50, 7);
  border-color: rgb(110, 50, 7);
}
.button-number-cool {
  background-color: rgb(44, 44, 44);
  border-color: rgb(68, 68, 68);
  color: rgb(223, 223, 223);
  border-width: 3px;
}
.button-number-cool:hover {
  background-color: rgb(68, 68, 68);
  border-color: rgb(68, 68, 68);
}

.delete-row-button {
  width: 100px;
  height: 12px;
  position: relative;
  margin: 0px;
  margin-bottom: 4px;
  left: 190px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 5px;
  transition-duration: 0.2s;
}
.delete-row-button-default {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
}
.delete-row-button-dark {
  background-color: rgb(54, 105, 153);
  border-color: rgb(54, 105, 153);
}
.delete-row-button-warm {
  background-color: rgb(184, 145, 95);
  border-color: rgb(184, 145, 95);
}
.delete-row-button-cool {
  background-color: rgb(54, 105, 153);
  border-color: rgb(54, 105, 153);
}

.add-row-button {
  width: 100px;
  height: 12px;
  position: relative;
  left: 190px;
  margin: 0px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 5px;
  transition-duration: 0.2s;
}
.add-row-button-default {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
}
.add-row-button-dark {
  background-color: rgb(54, 105, 153);
  border-color: rgb(54, 105, 153);
}
.add-row-button-warm {
  background-color: rgb(184, 145, 95);
  border-color: rgb(184, 145, 95);
}
.add-row-button-cool {
  background-color: rgb(54, 105, 153);
  border-color: rgb(54, 105, 153);
}

.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 8px;
  width: 50px;
  background: rgb(51, 45, 99);
  border: none;
  box-shadow: none;
  left: 190px;
}
.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: rgb(151, 185, 216);
  transform: skew(0deg, 15deg);
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: rgb(151, 185, 216);
  transform: skew(0deg, -15deg);
}

.chevron2::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}