.button {
  height: 37px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  font-size: 19px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover {
  border-radius: 10px;
}

.button-operator {
  background-color: lightgray;
  color: black;
  width: 70px;
}

.button-operator:hover {
  background-color: #b8b8b8;
  border-color: #b8b8b8;
}

.button-left-side {
  background-color: lightgray;
  border-color: lightgray;
  margin-left: 20.5px;
  width: 70px;
}

.button-left-side:hover {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
}

.button-up-down {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
  width: 144px;
  margin-left: 20.5px;
}

.button-up-down:hover {
  background-color: rgb(103, 158, 209);
  border-color: rgb(103, 158, 209);
}

.button-left {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
  width: 70px;
  margin-left: 20.5px;
}

.button-left:hover {
  background-color: rgb(103, 158, 209);
  border-color: rgb(103, 158, 209);
}

.button-right {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
  width: 70px;
}

.button-right:hover {
  background-color: rgb(103, 158, 209);
  border-color: rgb(103, 158, 209);
}

.button-equals {
  background-color: lightgreen;
  border-color: lightgreen;
  width: 70px;
}

.button-equals:hover {
  background-color: rgb(86, 216, 86);
  border-color: rgb(86, 216, 86);
}

.button-delete {
  background-color: lightcoral;
  border-color: lightcoral;
  width: 70px;
  font-size: 15px;
}

.button-delete:hover {
  background-color: rgb(231, 93, 93);
  border-color: rgb(231, 93, 93);
}

.button-ac {
  background-color: lightcoral;
  border-color: lightcoral;
  color: black;
  width: 70px;
  margin: 4px 2px;
  margin-right: 13.5px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button-ac:hover {
  background-color: rgb(231, 93, 93);
  border-color: rgb(231, 93, 93);
}

.button-number {
  background-color: rgb(138, 138, 138);
  border-color: rgb(138, 138, 138);
  width: 70px;
}

.button-number:hover {
  background-color: #999898;
  border-color: #999898;
  border-radius: 10px;
}

.delete-row-button {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
  width: 100px;
  height: 12px;
  position: relative;
  margin: 0px;
  margin-bottom: 4px;
  left: 190px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 5px;
}

.add-row-button {
  background-color: rgb(151, 185, 216);
  border-color: rgb(151, 185, 216);
  width: 100px;
  height: 12px;
  position: relative;
  left: 190px;
  margin: 0px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 5px;
}

.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 8px;
  width: 50px;
  background: rgb(51, 45, 99);
  border: none;
  box-shadow: none;
  left: 190px;
}
.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: rgb(151, 185, 216);
  transform: skew(0deg, 15deg);
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: rgb(151, 185, 216);
  transform: skew(0deg, -15deg);
}

.chevron2::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}