.calc-screen {
  background: rgb(202, 202, 202);
  font-size: 30px;
  width: 373px;
  height: 140px;
  text-align: right;
  padding-right: 5px;
  margin-left: 10px;
}

.calc-body {
  background-color: rgb(51, 45, 99);
  width: 400px;
  height: 396px;
  border-radius: 10px;
}

.calc-cursor {
  top: 128px;
  left: 218px;
  position: absolute;
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}