.calc-screen {
  width: 434px;
  height: 140px;
  margin-left: 23px;
  margin-top: 0px;
  font-family: 'Consolas';
  transition: height, 0.1s;
}

.calc-body {
  width: 481px;
  height: 435px;
  border-radius: 10px;
  transition: height, 0.1s;
}
.calc-body-default {
  background-color: rgb(51, 45, 99);
}
.calc-body-dark {
  background-color: rgb(32, 30, 53);
  outline:5px solid rgb(47, 44, 75);
}
.calc-body-warm {
  background-color: rgb(54, 42, 42);
}
.calc-body-cool {
  background-color: rgb(41, 52, 90);
}

.calc-number-column {
  font-size: 30px;
  width: 385px;
  height: 140px;
  text-align: right;
  padding-right: 5px;
  padding-top: 2px;
  display: inline-block;
  border-style: none ridge none ridge;
  border-width: 3px;
  transition: height, 0.1s;
}
.calc-number-column-default {
  background: rgb(202, 202, 202);
  border-color: rgb(51, 45, 99);
}
.calc-number-column-dark {
  background: rgb(155, 155, 155);
  border-color: rgb(32, 30, 53);
}
.calc-number-column-warm {
  background: cornsilk;
  border-color: rgb(54, 42, 42);
}
.calc-number-column-cool {
  background: rgb(228, 243, 248);
  border-color: rgb(41, 52, 90);
}

.calc-arrow-column-left {
  height: 145px;
  width: 18px;
  padding-left: 1px;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  text-align: end;
  font-family: "Consolas";
  transition: height, 0.1s;
}

.calc-arrow-column-right {
  height: 145px;
  width: 18px;
  padding-left: 1px;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  font-family: "Consolas";
  transition: height, 0.1s;
}

.calc-arrow-column-default {
  background: rgb(160, 161, 170);
}
.calc-arrow-column-dark {
  background: rgb(125, 126, 139);
}
.calc-arrow-column-warm {
  background: rgb(228, 215, 163);
}
.calc-arrow-column-cool {
  background: rgb(193, 212, 212);
}

.calc-cursor {
  left: 218px;
  position: absolute;
  animation: blinker 1s step-start infinite;
  font-family: "Consolas";
  font-size: 30px;
  transition: height, 0.1s;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
